node_modules/
platforms/
plugins/
www/lib/
www/css/
.DS_Store
.idea


dist
src
gulpfile-copy.js
tmp
.sass-cache
_old-www
bower_components
.tmp
www
REMOVED.md
_removed-js
jakesgordon/.gitignore
jakesgordon/bower.json
jakesgordon/index.html
jakesgordon/LICENSE
jakesgordon/package.json
jakesgordon/Rakefile
jakesgordon/README.md
jakesgordon/RELEASE_NOTES.md
jakesgordon/state-machine.min.js
jakesgordon/demo/demo.css
jakesgordon/demo/demo.js
jakesgordon/demo/images/alerts.green.png
jakesgordon/demo/images/alerts.red.png
jakesgordon/demo/images/alerts.yellow.png
jakesgordon/minifier/minifier.rb
jakesgordon/minifier/yuicompressor-2.4.6.jar
jakesgordon/test/index.html
jakesgordon/test/runner.js
jakesgordon/test/test_advanced.js
jakesgordon/test/test_async.js
jakesgordon/test/test_basics.js
jakesgordon/test/test_classes.js
jakesgordon/test/test_initialize.js
jakesgordon/test/qunit/qunit.css
jakesgordon/test/qunit/qunit.js
jakesgordon/test/requirejs/index.html
jakesgordon/test/requirejs/require.js
