<div class="drag-drop-container">
    <!--  TEST DRAG ZONE -->
    <div class="tiles-container" style="border: solid 2px purple">
        <div class="tile-border" ng-repeat="tile in dragDrop.list5 track by $index"
             data-drop="true"
             data-jqyoui-options="{}"
             ng-model="dragDrop.list5"
             jqyoui-droppable="{index: {{$index}}}">
            <div class="tile"
                 data-drag="{{tile.drag}}"
                 data-jqyoui-options="{revert: 'valid'}"
                 ng-model="dragDrop.list5"
                 jqyoui-draggable="{index: {{$index}}, placeholder:true, animate:true, onStop: 'dragDrop.stopCallback($index)', onDrop: 'dragDrop.dropCallback(tile)'}"
                  ng-hide="!tile.title">
                <p>{{tile.title}}</p>
            </div>
        </div>
    </div>

    <!-- MULTIPLE TEST DROP ZONE -->
    <div class="tiles-container" style="border: solid 4px green"
         data-drop="true"
         ng-model='dragDrop.list3'
         data-jqyoui-options="{}"
         jqyoui-droppable="{multiple:true}">
            <div class="tile" ng-repeat="tile in dragDrop.list3"
                 ng-show="tile.title"
                 data-drag="{{tile.drag}}"
                 data-jqyoui-options="{revert: 'invalid', onDrop: 'dragDrop.dropCallback(tile)'}"
                 ng-model="dragDrop.list3"
                 jqyoui-draggable="{index: {{$index}}, animate:true}">
                <p>{{tile.title}}</p>
            </div>
    </div>

</div>




