<div class="wrapper-container">
    <!-- DRAG ZONE -->
    <div class="tiles-container">
        <div class="tile-border" ng-repeat="tile in dragDrop.tiles track by $index"
             data-drop="true"
             data-jqyoui-options="{}"
             ng-model="dragDrop.tiles"
             jqyoui-droppable="{index: {{$index}},  onDrop:'dragDrop.dropCallback($index)', onOut: 'dragDrop.outCallback($index)'}">
            <div class="tile"
                 data-drag="{{tile.drag}}"
                 data-jqyoui-options="{revert: 'valid'}"
                 ng-model="dragDrop.tiles"
                 jqyoui-draggable="{index: {{$index}}, placeholder:true, animate:true, onStop: 'dragDrop.stopCallback($index)'}"
                  ng-hide="!tile.letter">
                <h2>{{tile.letter}}</h2>
            </div>
        </div>
    </div>

    <!-- MULTIPLE DROP ZONE -->
    <div class="tiles-container-fixed"
         data-drop="true"
         ng-model='dragDrop.dropItems'
         data-jqyoui-options="{}"
         jqyoui-droppable="{multiple:true,
                            onDrop:'dragDrop.dropCallback($index)',
                            onOut: 'dragDrop.outCallback($index)'}">
            <div class="tile" ng-repeat="tile in dragDrop.dropItems"
                 ng-show="tile.letter"
                 data-drag="{{tile.drag}}"
                 data-jqyoui-options="{revert: 'invalid'}"
                 ng-model="dragDrop.dropItems"
                 jqyoui-draggable="{index: {{$index}}, animate:true}">
                <h2>{{tile.letter}}</h2>
            </div>
    </div>
    <div class="score" ng-if="dragDrop.scoreIsVisible()">
        <p>Score: {{dragDrop.score}}</p>
    </div>
</div>






