<ion-view title="Main">
    <i class="icon ion-loading-c progress-bar-icon" ng-if="loading"></i>

    <ion-content>

        <div class="game-container">
            <div class="list" ng-hide="loading">
                <p>F9 SCRABBLE</p>

                <div f9-tiles></div>

                <div f9-best-word></div>

                <div f9-timer></div>

                <div f9-controls></div>

                <div>Name: {{main.test}}</div>


            </div>

        </div>
    </ion-content>
</ion-view>
