<ion-view title="Main">
    <i class="icon ion-loading-c progress-bar-icon" ng-if="loading"></i>

    <ion-content>

        <div class="game-container" ng-hide="loading">

            <div class="wrapper-container">
                <div class="title-container">
                    <h1>F9 SCRABBLE</h1>
                </div>
            </div>


            <div f9-tiles></div>

            <div f9-best-word></div>

            <div f9-timer></div>

            <div f9-controls></div>


        </div>
    </ion-content>
</ion-view>
