@import "../modules/flex";
@import "../modules/colors";

$container-margin: 5px;

.container {
  @extend .flex-container;

  border: solid 1px $green;
  margin: $container-margin;


}

.game-container {
  @extend .container;

  width: 90%;
  margin: auto;

  border: solid 1px $green;

}

.tiles-container {
  @extend .container;

  width: 450px;
  height: 50px;

  border: solid 1px $green;
}

$tile-dimension : 40px;
$tile-margin: 2px;

.tile {
  @extend .flex-container;
  width: $tile-dimension;
  height: $tile-dimension;
  margin-left: $tile-margin;
  margin-right: $tile-margin;
  border: solid 1px $green;

  .p {
    height: 100%;
    line-height: $tile-dimension;
  }
}

.score {
  @extend .flex-container;
  margin-left: $tile-margin;
  margin-right: $tile-margin;
}

.controls-container {
  @extend .container ;

  width: 450px;
  height: 200px;

}

.button {
  margin: $container-margin;
}