@import "../modules/flex";
@import "../modules/colors";

// == RESPONSIVE SIZES ========
$iPhone4-width: 640px;

/* Width for portrait */
$iPad-width: 768px;

// SET A FIXED DEFAULT FOR NOW
$device-width: $iPad-width;

// == SHARED PROPERTIES ========

$title-height: 55px;



$container-margin: 5px;
$tile-dimension: 70px;
$tile-margin: 5px;

$tile-slot-width: calc(#{$tile-dimension} * 8);

$rack-width: 700px;
$tiles-container-height: 80px;
$tile-dimension: 70px;
$tile-margin: 2px;

$score-height: 60px;

$controls-width: 400px;
$controls-height: 50px;

$timer-width: 350px;
$timer-height: 70px;

$scores-height: 45px;
$scores-width: 650px;

// == CONTAINERS ========

// MULTIPLE ROWS
.container {
  @extend .flex-container-multiple-rows;
 /* border: solid 2px $green; */
  margin: $container-margin;
}

// SINGLE ROW
.container-row {
  @extend .flex-container-all-row;
  height: calc(#{$tile-dimension} + (2 * #{$container-margin}));
  /* border: solid 2px $green; */
  margin: $container-margin;
}

.row {
  /*border: solid 2px $green;*/
}

/* THE CONTAINER FOR THE WHOLE GAME */
.game-container {
  width: 90%;
  max-width: $device-width;
  margin: auto;
  border: solid 1px $lightGrey;
}

/* A CONTAINER FOR MOST OF THE CONTAINERS */
.wrapper-container {
  @extend .container;
  /*border: dashed 1px black;*/
}

/* The container which displays the name of the game */
.title-container {
  width: $rack-width;
  height: $title-height;
  h1 {
    text-align: center;
  }
}

/* A SHORT CONTAINER FOR A SINGLE ROW OF TILES
*/
.tiles-container {
  @extend .container;
  width: $tile-slot-width;
  height: $tiles-container-height;
  background: $holder-color;
  border-bottom: solid 4px $holder-border-color;
  /*border: 1px solid purple;*/
}

/* The drop container UI what the user will drag too */
.tiles-container-fixed {
  @extend .container;
  width: $tile-slot-width;
  height: $tiles-container-height;
  background: $holder-color;
  border-bottom: solid 4px $holder-border-color;

  /*border: solid 1px $lightGrey;*/
}

/* FOR THE GAME CONTROLS */
.controls-container {
  @extend .container;
  width: $controls-width;
  height: $controls-height;

  /*border: solid 1px lawngreen;*/
}

/* FOR THE TIMER */
.timer-container {
  @extend .flex-container;
  width: $timer-width;
  height: $timer-height;
  margin: $container-margin;
  input {
    width: 125px;
    text-align: center;
    font-size: 42px;
  }
  /*border: solid 1px lightblue;*/
}

/* FOR THE SCORES */
.scores-container {
  @extend .flex-container;

  height: $scores-height;
  width:  $scores-width;
  div {
    display: inline-block;
  }
  p {
    font-size: 200%;
  }

  /*border: solid 1px orange;*/
}


// == UI ELEMENTS ========

/* Scrabble tile */
.tile {
  @extend .flex-container;
  position: relative;
  width: $tile-dimension;
  height: $tile-dimension;
  margin-left: $tile-margin;
  margin-right: $tile-margin;
  background-color: $tile-color;
  /*border: solid 1px $blue;*/
  border-bottom: solid 4px $tile-border;
  .tile-container {

    /*border: dashed 2px red;*/
    width: 100%;
    height: 100%;

    text-align: center;

    h2 {
      margin-left: -6px;
      line-height: $tile-dimension;

      /*border: solid 1px $green;*/
    }
  }

  .tile-layer {
    position: absolute;
    top: 0px;
    left: 0px;

    width: $tile-dimension;
    height: $tile-dimension;
  }

  .tile-container-letter {
    @extend .tile-layer;

    /*border: solid 1px $green;*/

    z-index: 1;
  }

  .tile-container-score {
    @extend .tile-layer;

    /*border: solid 1px purple;*/
    z-index: 2;
    text-align: left;

    p {
      position: absolute;
      font-size: 132%;
      left: ($tile-dimension * 0.5) + 11px;
      bottom: -5px;
      /*border: solid 1px purple;*/
    }
  }

}

/* UI for the slot */
.tile-border {
  @extend .flex-container;
  width: $tile-dimension;
  height: $tile-dimension;
  /*border: solid 1px $lightGrey; */
}

/* Element displays the Score */
.score {
  @extend .flex-container;
  position: absolute;
  margin-top: #{$score-height} * 0.5;
  margin-left: calc(#{$tile-margin} * 3);
  margin-right:calc(#{$tile-margin} * 3);

  height: $score-height;
  text-align: center;

  border: solid 1px orange;

    p {
      line-height: $score-height;
      font-size: calc(#{$score-height} * 0.4);
      /*border: solid 1px blue;*/
    }
}


/* The shared button */
.button {
  margin: $container-margin;
}

/* align without flex */
$large-square-dimension: 70px;
$large-square-margin: 5px;

.large-square {
  width: $large-square-dimension;
  height: $large-square-dimension;
  border: solid 1px red;
  margin: $large-square-margin;
  text-align: center;
  h1 {
    line-height: $large-square-dimension;
    font-size: 1.5em;
  }
}