<div>
    <p>State: {{vm.stateData.state}}</p>
    <p>From main: {{main.test}}</p>
</div>
<div class="controls-container">
    <button class="button button-stable" ng-click="vm.play()">
        play
    </button>
    <button class="button button-stable" ng-click="vm.stop()">
        stop
    </button>
    <button class="button button-stable" ng-click="vm.showBestWord()">
        show best
    </button>
    <button class="button button-stable" ng-click="vm.reset()">
        reset
    </button>
</div>