<div class="wrapper-container">
    <div class="controls-container">
        <button class="button button-stable" ng-disabled="vm.stateData.state!=='ready'" ng-click="vm.play()">
            play
        </button>
        <button class="button button-stable" ng-disabled="vm.stateData.state!=='playing'" ng-click="vm.stop()">
            stop
        </button>
        <button class="button button-stable" ng-disabled="vm.stateData.state!=='paused'" ng-click="vm.showBestWord()">
            show best
        </button>
        <button class="button button-stable" ng-disabled="vm.stateData.state!=='done'" ng-click="vm.reset()">
            reset
        </button>
    </div>
</div>