$primaryColor: #eeccff;
$secondaryColor: #aaaaff;

$backgroundColor: #1abc9c;

$buttonColor: #5bc0de;



$lightGrey: #444444;
$darkGrey: rgb(21, 21, 19);
$flesh: #ffbcaa;
$blue: #2222DD;
$pink: #ff77ff;
$green: #22CC11;
$yellow: #FFFF00;
$red: #FF2233;
$offWhite: #EEEEEE;
$lime-green: limegreen;

$warning: #e74c3c;

//

// darker tile - rgb(174, 138, 103)

$tile-color: rgb(212, 173, 132);

$tile-border: darken($tile-color, 10%);

$holder-color: lighten($tile-color, 20%);

$holder-border-color: darken($holder-color, 10%);


$light-lime-alpha-color: rgba(lighten($lime-green, 20%), 0.25);

$lightGreen : lighten( $green, 40% );
$darkGreen : darken( $green, 20% );
$lightBlue : lighten( $blue, 10% );
$veryLightBlue : lighten( lightBlue, 10% );
$faintBlue : lighten( $veryLightBlue, 10% );
$lightYellow : lighten( $yellow, 40% );
$veryLightGrey: lighten($lightGrey, 50%);
$faintGrey: lighten($veryLightGrey, 15%);

$dragColor : $green;
$dragBorderColor : $darkGreen;
$gameBoardbackground: $faintGrey;